{{ form_start(form) }}
  {{ form_row(form.title, { 'label': 'Nom du trésor :' }) }}
     {{ form_row(form.placeOfDiscovery, { 'label': 'Lieu de découverte :' }) }}

    {{ form_row(form.value, { 'label': 'Valeur :' }) }}

     {{ form_row(form.category, { 'label': 'Catégorie :' }) }}
    {{ form_row(form.photoFile, { 'label': 'Photo :' }) }}
<button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}

