{% extends 'base.html.twig' %}

{% block title %}Asset{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron p-md-3 mt-md-4">
            <h1 class="text-center">{{ asset.title }}</h1>
            <img src="{{ asset('build/images/'~asset.photo) }}" class="photo-detail" alt="{{ asset.photo }}">
            <hr class="my-4">
            <table class="table">
                <tbody>
                <tr>
                    <th>propriétaire</th>
                    <td>{{ asset.owner.name }}</td>
                </tr>
                <tr>
                    <th>lieu de découverte</th>
                    <td>{{ asset.placeOfDiscovery }}</td>
                </tr>
                <tr>
                    <th>date de dépôt</th>
                    <td>{{ asset.depositDate ? asset.depositDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Valeur</th>
                    <td>{{ asset.value }}$</td>
                </tr>
                <tr>
                    <th>catégorie</th>
                    <td>{{ asset.category.name }}</td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex flex-row justify-content-around">
            <a class="btn btn-primary" href="{{app.request.headers.get('referer')}}">retour</a>

            <a class="btn btn-primary" href="{{ path('asset_edit', {'id': asset.id}) }}">éditer</a>

            {{ include('asset/_delete_form.html.twig') }}
            </div>
        </div>
    </div>


{% endblock %}
